*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
     
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}


#blog{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../images/back.png);
    padding: 50;
    border-bottom: 1px solid rgba(0,0,0,0.05);
}

.blog-heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.blog-heading span{
    color: wheat;
    font-size: 1rem;
}
.blog-heading h3{
    font-size: 2.3rem;
    color: whitesmoke;
    font-weight: 600;
}

.blog-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin : 20px 0px;
    flex-wrap: wrap;
}

.blog-box{
    
    width: 350px;
    background-color: bisque;
    border: 1px solid rgb(0, 0, 0);
    margin: 20px;
    border-radius: 20px;

}


.blog-img{
    width: 100%;
    height: auto;
}

.blog-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
}

.blog-text{
    padding: 30px;
    display : flex;
    flex-direction: column;
    overflow: hidden;
}
.blog-text b{
    color: black;
    font-size: 1rem;
    font-weight: 800;
    text-align: center;
}


.blog-text .blog-title{
    font-size: 1.3rem;
    font-weight: 500;
    color: #272727;
    text-align: center;
}

.blog-text .blog-title:hover{
    color: rgb(245, 0, 0);
    transition: all ease 0.3s;
}
.blog-text p{
    color: #000000;
    font-size: 0.9rem;
    text-align: center;
    margin: 10px 0px;
}
.blog-text
#more {
    display: none;
}
#more1{
    display: none;
}
@media(max-width:1250px){
    blog-box{
        width : 300px;
        
    }
}
@media(max-width:1100px){
    .blog-box{
        width : 70%;

    }
}
@media(max-width:500px){
    .blog-box{
    margin: 20px 0px;
    width: 100%;

    }
    #blog{
        padding: 20px;
    }
}
